/*=====================================
            Generals
        colors: #DFAA5B
        secondary: #957554
=====================================*/

@font-face {
  font-family: "ubuntu-light";
  src: url("../font/Ubuntu/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "ubuntu-medium";
  src: url("../font/Ubuntu/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "ubuntu-regular";
  src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 1rem;
  font-family: ubuntu-regular;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

/* --- Header --- */

.header-section {
  margin-block: 8vh;
  display: flex;
  justify-content: center;
}

.nav-container nav {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
}

.nav-container nav a {
  color: #957554;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
}

.nav-container nav a:hover {
  color: #dfaa5b;
}

/* --- Hero-Section --- */

.hero-section {
  background-image: url("../img/hero_image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 12rem;
  margin-top: 10vh;
}

.hero-title {
  color: #ffffff;
  text-align: center;
  padding-top: 3%;
}

.hero-title h1 {
  font-size: 4rem;
}

.hero-title h3 {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.hero-title .button {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #dfaa5b;
  font-size: 1.2rem;
  padding: 1.5rem 8rem;
  border-radius: 10px;
  font-weight: bolder;
}

.hero-title .button:hover {
  background-color: #957554;
}

/* --- Facilites --- */

.facilities h2 {
  color: #957554;
  text-align: center;
  font-size: 1.8rem;
  padding-block: 5vh;
}

.icon-section {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}

.icons {
  display: inline-block;
  color: #dfaa5b;
}

.icons img {
  width: 40px;
}

.icons p {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 10px;
}

/* --- Rooms --- */

.rooms h2 {
  margin-top: 15vh;
  text-align: center;
  font-size: 1.8rem;
  color: #957554;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery .room-div {
  background: no-repeat center/cover;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  padding-block: 20vh;
  color: #ffffff;
  width: 45%;
}

.gallery .room-div h4 {
  font-size: 1.8rem;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.gallery .room-div a {
  color: #ffffff;
  background-color: #dfaa5b;
  padding: 1.2rem 3rem;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  margin-inline: 7rem;
  text-align: center;
}

.gallery .room-div a:hover {
  background-color: #957554;
  scale: 120%;
}

.gallery .room-div:nth-child(1) {
  background-image: url("../img/standard_twin_room.png");
}

.gallery .room-div:nth-child(2) {
  background-image: url("../img/standard_room.png");
}

.gallery .room-div:nth-child(3) {
  background-image: url("../img/standard_view_room.png");
}

.gallery .room-div:nth-child(4) {
  background-image: url("../img/deluxe_room.png");
}

/* --- Room already --- */

.already {
  margin-top: 5vh;
  text-align: center;
}

.already h3 {
  color: #957554;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.already a {
  text-decoration: none;
  background-color: #dfaa5b;
  color: #ffffff;
  padding: 1rem 5.5rem;
  border-radius: 10px;
  margin-bottom: 70px;
  display: inline-block;
}

.already a:hover {
  background-color: #957554;
}

footer {
  background-color: #111111;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 3%;
  padding-bottom: 10vh;
}

footer :is(.left, .mid, .right) {
  padding-top: 30px;
}

.left img {
  width: 30%;
  margin-bottom: 30px;
}

.left p {
  font-family: "ubuntu-light";
}

.mid ul {
  list-style: none;
}

.mid ul li {
  margin-bottom: 10px;
}

.mid ul li a {
  text-decoration: none;
  color: #ffffff;
}

.mid ul li a:hover {
  color: #dfaa5b;
}

.right input[type="email"] {
  margin-block: 10px;
  display: block;
  padding: 0.75rem 6rem 0.75rem 1rem;
  border-radius: 5px;
  border: none;
}

.right button {
  background-color: #dfaa5b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 10rem 0.75rem 1rem;
}

.right button:hover {
  background-color: #957554;
}
