/*=====================================
            Generals
        colors: #DFAA5B
=====================================*/

@font-face {
  font-family: "ubuntu-light";
  src: url("../font/Ubuntu/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "ubuntu-medium";
  src: url("../font/Ubuntu/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "ubuntu-regular";
  src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 10px;
  font-family: ubuntu;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}





/* --- Header --- */

.header-section {
  margin-block: 8vh;
  display: flex;
  justify-content: center;
}

.nav-container nav {
  display: flex;
  justify-content: space-between;
  padding: 0 25%;
}

.nav-container nav a {
  color: #dfaa5b;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
}

/* --- Hero-Section --- */

.hero-section {
  background-image: url("../img/hero_image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 18rem;
  margin-top: 10vh;
}

.hero-title {
  color: #ffffff;
  text-align: center;
  padding-top: 3%;
}

.hero-title h1 {
  font-size: 5.5rem;
}

.hero-title h3 {
  font-size: 2.2rem;
  margin-bottom: 50px;
}

.hero-title .button {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #dfaa5b;
  font-size: 1.2rem;
  padding: 1.5rem 8rem;
  border-radius: 10px;
  font-weight: bolder;
}

/* --- Facilites --- */

.facilities h2 {
  color: #dfaa5b;
  text-align: center;
  font-size: 2.2rem;
  padding-block: 3vh;
}

.icon-section {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}

.icons {
  display: inline-block;
  color: #dfaa5b;
}

.icons img {
  width: 40px;
  padding: 0 2px;
}

.icons p {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 10px;
}

/* --- Rooms --- */

.rooms h2 {
  margin-top: 15vh;
  text-align: center;
  font-size: 2.2rem;
  color: #dfaa5b;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery .room-div {
  background: no-repeat center/contain;
  margin: 10px;
  border-radius: 10px;
  padding-block: 10vh;
  color: #ffffff;
  width: 100%;
}

.gallery .room-div a {
  color: #f90000;
  text-decoration: none;
  text-align: center;
}

.gallery .room-div:nth-child(1) {
  background-image: url("../img/standard_twin_room.png");
}

.gallery .room-div:nth-child(2) {
  background-image: url("../img/standard_room.png");
}

.gallery .room-div:nth-child(3) {
  background-image: url("../img/standard_view_room.png");
}

.gallery .room-div:nth-child(4) {
  background-image: url("../img/deluxe_room.png");
}
